<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BUGET TRACKER - Home Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  
  <!-- Font Awasome -->
  <script src="https://kit.fontawesome.com/66ef81bd09.js" crossorigin="anonymous"></script>
  
  <!-- Favicons -->
  <link href="favicon.png" rel="icon">
  <link href="apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link href="boxicons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="homestyle.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid">

      <div class="logo">
        <h1><a href="home.html">BUTGET TACKER</a></h1>
        <a href="home.html"><img src="logo.png" alt="" class="img-fluid"></a>
      </div>

      <button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>
      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#header" class="scrollto">Home</a></li>
          <li><a href="#about" class="scrollto">About Us</a></li>
          <li><a href="#why-us" class="scrollto">Why Us</a></li>
          <li><a href="#contact" class="scrollto">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to AN3</h1>
      <h2>Please, fill out the for below to be notified for the latest updates!</h2>

      <div class="button">
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="login.html">Login</a>
        <a class="btn btn-outline-dark btn-lg px-4" href="register.html">Register</a>
      </div>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="about-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>We want to make your financial life stress-free.</h3>
            <p class="fst-italic">
              In AN3, we all come to work every day to enable people make smart decisions about their money every day.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> AN3 helps you to get your finances into the shape so that you don't need to stress about every dollar that you spend.</li>
              <li><i class="bx bx-check-double"></i> AN3 helps hundreds of thousands people worldwide to get their money into shape.</li>
              <li><i class="bx bx-check-double"></i> We believe that managing finance should be as effortless as shopping online. It should be done anytime, anywhere and in few clicks.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="why-us-1.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bx bx-book-reader"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">User Friendly</a></h5>
                <p class="card-text">    </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="why-us-2.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="fa-solid fa-user-shield"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Secure</a></h5>
                <p class="card-text"> User data are maintained securely by  using cloud technologies and best encryption algorithm  </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="card">
              <img src="why-us-3.png" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="fa-solid fa-gauge-high"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Speed</a></h5>
                <p class="card-text"> </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

   

    <!-- ======= Contact Us Section ======= -->
    